<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- write_prescription.html -->

{% extends 'hospital/doctor_base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;">
          <h6 class="panel-title">Write Prescription for {{ appointment.patientName }}</h6>
        </div>
        <div class="panel-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Upload Prescription</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

</head>
<body>

</body>
</html>